@using QuanLyGaraOto.Models.EF;
@{
    ViewBag.Title = "Lịch sử sửa chữa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int dem = 1;
}
@model List<TiepNhanXe>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Lịch sử sửa chữa
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
            <li class="active">Lịch sử sửa chữa</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            @if (TempData["add_success"] != null)
            {
                <div class="alert alert-success text-center" id="AlertBox">
                    @TempData["add_success"]
                </div>
            }
        </div>
        @*<div class="row">
            <div class="col-md-4" style="margin-bottom: 10px">
                <a class="btn btn-lg btn-primary" href="#">Tiếp nhận xe</a>
            </div>
        </div>*@
        
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"></h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="tblData" class="table table-bordered table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th class="text-uppercase" style="font-size: 18px">
                                        Danh sách các xe
                                    </th>
                                </tr>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Ngày tiếp nhận</th>
                                    <th class="text-center">Thông tin xe</th>
                                    <th class="text-center">Thông tin chủ xe</th>
                                    <th class="text-center">Tiền nợ</th>
                                    <th class="text-center">Trạng thái</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td class="text-center">@dem</td>
                                        <td>
                                            @*<b>@item.TaiKhoanNhanVien.ThongTinNV.Ten</b>*@
                                            <p>Ngày tiếp nhận: <b>@item.NgayTiepNhan.ToString("dd-MM-yyyy")</b></p>
                                        </td>
                                        <td>
                                            <p>Nhãn hiệu: <b>@item.Xe.HieuXe.HieuXe1</b></p>
                                            <p>Biển số: <b>@item.Xe.BienSo</b></p>
                                        </td>
                                        <td>
                                            <p>Chủ xe: <b>@item.Xe.TenChuXe</b></p>
                                            <p>Địa chỉ: <b>@item.Xe.DiaChi</b></p>
                                            <p>Số điện thoại: <b>@item.Xe.SDT</b></p>
                                        </td>
                                        <td class="text-center">@item.Xe.TienNo</td>
                                        <td class="text-center">
                                            @if (item.TrangThai == 0)
                                            {
                                                <span class="label label-default">Đã tiếp nhận</span>
                                            }
                                            else if (item.TrangThai == 1)
                                            {
                                                <span class="label label-warning">Đang sửa chữa</span>
                                            }
                                            else if (item.TrangThai == 2)
                                            {
                                                <span class="label label-primary">Đã thanh toán</span>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" href="/xe/chitiet/@item.IDTN" >Xem chi tiết</a>
                                        </td>
                                    </tr>
                                    dem++;
                                }

                            </tbody>

                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->

            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
</div>

@section jsSection{

    <script>
        $(function () {
            $("#tblData").DataTable();
            //nếu không có thao tác gì thì ẩn đi
            $('#AlertBox').removeClass('hide');

            //Sau khi hiển thị lên thì delay 1s và cuộn lên trên sử dụng slideup
            $('#AlertBox').delay(2000).slideUp(500);
            
        });

    </script>

}
